<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" type="text/css" href="css/my.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- JQuery -->
        <script src="js/jquery-3.2.1.min.js"></script>

        <!-- Vue.js development version, includes helpful console warnings -->
        <script src="js/vue.js"></script>

        <script src="js/vuejs-datepicker.min.js"></script>
        <script src="js/bootstrap-notify.min.js"></script>

        <title>ABS</title>
    </head>
    <body>
        <nav id="navBar" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#" onclick="return follow(this);">ABS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav" v-cloak>
                    <ul class="navbar-nav">
                        <li v-if="sessionUser" class="nav-item" v-bind:class="{active: currentSite === 'events'}" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a class="nav-link" href="#events" onclick="return follow(this);">Veranstaltungen</a>
                        </li>
                        <!--<li class="nav-item" v-bind:class="{active: currentSite === 'settings'}">
                            <a class="nav-link" href="#settings" onclick="return follow(this);" data-toggle="collapse" data-target="#navbarNav">Einstellungen</a>
                        </li>-->
                        <li v-if="sessionUser" class="nav-item" v-bind:class="{active: currentSite === 'user'}" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a class="nav-link" href="#user" onclick="return follow(this);">User</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <li v-if="sessionUser" class="nav-item v-cloak">
                            <span class="nav-link active"> {{ sessionUser }} <span class="nav-link" v-if="selectedGroup" style="display: inline;">({{ selectedGroup.title }})</span>
                                <button v-on:click="logout" class="btn btn-primary btn-sm">Logout</button> </span> 
                        </li>
                        <!-- <li v-if="!sessionUser" class="nav-item v-cloak" data-toggle="collapse" data-target=".navbar-collapse.show"> -->
                        <li v-if="!sessionUser" class="nav-item v-cloak">
                            <form style="display: inline;">
                                <input id="username" type="text" v-model="loginUser" autocomplete="username" placeholder="Enter your username">
                                <input id="password" type="password" v-model="password" autocomplete="current-password" placeholder="Enter your password">
                                <button v-on:click="login" class="btn btn-primary btn-sm custom-buttons">Login</button>
                            </form>
                            <a href="#user" onclick="return follow(this);">Registrieren</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="indexSite" class="container">
            <div class="row" style="padding-top: 20px;">
                <div id="includePage" class="col-12 col-md-6"></div>
                <div id="chat" v-if="sessionUser" v-cloak class="col-12 col-md-6">
                    <div id="messagesDiv">
                        <ul id="messages"></ul>
                    </div>
                    <hr>
                    <div id="inputDiv">
                        <form>
                            <input id="m" autocomplete="off" style="width: calc(100% - 75px)"/>
                            <button type="submit" v-on:click="sendMessage()" class="btn btn-outline-primary btn-sm" style="float:right;">Senden</button>
                        </form>
                    </div>
                </div>
            </div>      
        </div>

        <script src="js/socket.io.js"></script>
        <script>
            var socket = io();
            var navbar = new Vue({
                el: '#navBar',
                data: {
                    currentSite: 'home',
                    sessionUser: '',
                    selectedGroup: '',
                    selectedEvent: '',
                    loginUser: '',
                    password: ''
                },
                methods: {
                    login: function () {
                        var loginUser = navbar.loginUser;
                        var password = navbar.password;

                        if(loginUser != '' && password != '') {
                            $.post("/api/login", {username: loginUser, password: password}, function(result){
                                if(result == "OK") {
                                    navbar.sessionUser = loginUser;
                                    indexSite.sessionUser = loginUser;
                                    // TODO: set /home specific data
                                    //  ... TODO: Think about next line...
                                    // window.location = "#"; // redirects user to "home", so we only have to load the /home data
                                    location.reload();
                                } else {
                                    notify("Login fehlgeschlagen: " + result);
                                }
                            });
                        }
                    },
                    logout: function() {
                        navbar.sessionUser = '';
                        indexSite.sessionUser = '';
                        navbar.selectedGroup = '';
                        navbar.selectedEvent = null;
                        // TODO: reset /home specific data
                        //...
                        $.post("/api/logout", {}, function(result){
                            window.location = "#"; // redirects user to "home", so we only have to reset the /home data
                        });
                    }
                }
            });

            var indexSite = new Vue({
                el: '#indexSite',
                data: {
                    sessionUser: ''
                },
                methods: {
                    sendMessage: function() {
                        if(navbar.selectedGroup != null && navbar.selectedGroup.title != '' || navbar.selectedEvent != null && navbar.selectedEvent.title != null) {
                            var userInput = $('<div/>').text($('#m').val()).html(); // encode user input
                            var message = "<b>" + indexSite.sessionUser + "</b>: " + userInput;
                            if(navbar.selectedGroup.title != "") {
                                socket.emit('chat message', {groupName: "group:"+navbar.selectedGroup.title, message: message});
                            } else if(navbar.selectedEvent.title != "") {
                                socket.emit('chat message', {groupName: "event:"+navbar.selectedEvent.title, message: message});
                            }
                            $('#m').val('');
                            $.post("/api/saveMessage", {newMessage: message}, function(result){
                                if(result != '') {
                                    notify(result);
                                }
                            });
                        } else {
                            notify("Keine Gruppe oder Event ausgewählt.");
                        }
                    },
                    loadMessages: function() {
                        $('#messages').text("");
                        if(navbar.selectedGroup != null && navbar.selectedGroup.title != '' || navbar.selectedEvent != null && navbar.selectedEvent.title != null) {
                            $.post("/api/loadMessages", {}, function(result){
                                if(result != null) {
                                    if(result.doc != "") {
                                        result.doc.messages.forEach(msg => {
                                            $('#messages').append("<div>"+msg+"</div>");
                                        });
                                        updateScroll();
                                    } else if(result.message != ""){
                                        notify(result.message);
                                    }
                                }
                            });
                        } else {
                            $('#messages').empty();
                        }
                    }
                }
            });

            $(function(){
                // include correct page on reload
                includePageOnLoad();
            });

            $(window).bind('hashchange', function() {
                // include correct page on browser's back-button
                includePageOnLoad();
            });

            function includePageOnLoad() {
                var url = window.location.href;
                var href = url.split('#')[1];
                $.post("/api/session", {}, function(result){
                    if(result != '') {
                        console.log(result);
                        navbar.sessionUser = result[0];
                        navbar.selectedGroup = result[1];
                        navbar.selectedEvent = result[2];
                        indexSite.sessionUser = navbar.sessionUser;
                        indexSite.loadMessages();
                        if(navbar.selectedGroup != null && navbar.selectedGroup.title != "") {
                            leaveSocket();
                            joinSocket(navbar.selectedGroup.title, "group");
                        } else if(navbar.selectedEvent != null && navbar.selectedEvent.title != "") {
                            leaveSocket();
                            joinSocket(navbar.selectedEvent.title, "event");
                        } else {
                            leaveSocket();
                        }
                    } 
                });
                includePage(href);
            }

            function follow(item) {
                includePage(item.getAttribute('href').split('#')[1]);
            }

            function includePage(href) {
                if(href != undefined && href != '' && href != '#') {
                    if(href.startsWith('events')) {
                        var join = href.split('events/')[1];
                        if(join != null && join != '') {
                            $.post("/api/handleJoin", {join: join}, function(result){
                                notify(result);
                                $("#includePage").load("pages/events.html");
                            });
                        } else {
                            $("#includePage").load("pages/events.html");
                        }
                    } else if(href === 'settings') {
                        $("#includePage").load("pages/settings.html");
                    } else if(href === 'user') {
                        $("#includePage").load("pages/user.html");
                    } else {
                        $("#includePage").load("pages/home.html");
                        href = "home";
                    }
                    navbar.currentSite = href;
                } else {
                    $("#includePage").load("pages/home.html");
                    navbar.currentSite = "home";
                }
            }

            function notify(message) {
                if(message != '') {
                    $.notify({
                        message: message
                    }, {
                        delay: 1000
                    });
                }
            }

            var scrolled = false;
            function updateScroll(){
                if(!scrolled){
                    var element = document.getElementById("messagesDiv");
                    if(element != null) {
                        element.scrollTop = element.scrollHeight;
                    }
                }
            }

            $('#messagesDiv').scroll(function(){
                scrolled=true;
                console.log(scrolled);
            });
            
        </script>

        <script>
            $(function () {
                socket.on('chat message', function(msg){
                    //if(msg.groupName == navbar.selectedGroup) {
                        $('#messages').append("<div>"+msg.message+"</div>");
                        updateScroll();
                    //}
                });
                socket.on('voting', function(msg) {
                    notify(msg.username + " hat in " + msg.event + " -> " + msg.voting + " abgestimmt.")
                });
                socket.on('userMessage', function(msg) {
                    notify(msg);
                });
            });

            function joinSocket(group, type) {
                if(navbar.sessionUser != null && navbar.sessionUser != "") {
                    $.post("/api/getUserId", {}, function(result){
                        if(result != 0) {
                            socket.emit("subscribe", {room: group, userId: result, type: type});
                        } else {
                            notify("Es ist ein Problem beim Beitreten des Chats aufgetreten.");
                        }
                    });
                }
            }

            function leaveSocket() {
                socket.emit("unsubscribe", {});
                $('#messages').empty();
            }

            function notifyGroupAboutNewVoting(selectedEvent, selectedVoting) {
                socket.emit('voting', {groupName:navbar.selectedGroup.title, username:navbar.sessionUser, event: selectedEvent, voting: selectedVoting});
            }

            function notifyUserAboutUserMessage(userId) {
                socket.emit('userMessage', {userId: userId});
            }
            
        </script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>