
.custom-buttons {
    margin-bottom: 4px;
}

@media (max-width: 404px) {
    .responsive-input {
        width: 100%;
        margin: 5px;
    }
    .responsive-button {
        width: 100%;
        margin: 5px;
    }
    .vdp-datepicker input{
        width: 100%;
    }
}

#messagesDiv {
    border: 1px solid #007bff;
    height: 500px;
    padding-top: 20px;
    border-radius: 10px;
    overflow: scroll;
}

#userMessages {
    border: 2px solid black;
    min-height: 60px;
    max-height: 300px;
    padding: 15px;
    border-radius: 5px;
    overflow: scroll;
}

[v-cloak] {
    display: none;
}
