<div id="home">
    <div v-if="sessionUser">
        <h3 v-if="selectedGroup && selectedGroup.title">Aktuelle Gruppe <i>({{ selectedGroup.title }})</i></h3>
        <div id="activities">
            <h5 class="display-4">Aktivitäten</h5>
            <div v-for="activity in activities" v-bind:value="activity">
                <div v-if="activity.messageType === 'VOTING_UPDATE'">
                    Neues Abstimmungsergebnis in <i>{{ activity.eventName }}</i> durch <i>{{ activity.content }}</i>. 
                </div>
                <div v-if="activity.messageType === 'VOTING_NEW'">
                    <i>{{ activity.content }}</i> hat eine neue Abstimmung <i>{{ activity.votingName }} </i> in <a href="#events" v-on:click="jumpToEvent(activity.eventName); return false;"><i>{{ activity.eventName }}</i></a> hinzugefügt. 
                </div>
            </div>
            <br>
        </div>

        <div id="tasks">
            <h5 class="display-4">Aufgaben</h5>
            

        </div>
    </div>

</div>

<script>
    var homeView = new Vue({
        el: '#home',
        data: {
            sessionUser: navbar.sessionUser,
            selectedGroup: navbar.selectedGroup,
            selectedEvent: navbar.selectedEvent,
            activities: "",
            tasks: ""
        }, methods: {
            getActivitiesAndTasksForUser: function() {
                $.post("/api/getUserMessages", {}, function(result){
                    homeView.activities = result
                    // tasks = ...
                });
            }, resetHomeData: function() {
                homeView.sessionUser = "";
                homeView.activities = "";
                homeView.tasks = "";
            }, jumpToEvent: function(eventName) {
                console.log(eventName);
                navbar.jumpToName = eventName;
                navbar.selectedEvent = "";
                $("#includePage").load("pages/events.html");
            }
        }
    });

    if(navbar.sessionUser != null && navbar.sessionUser != '') {
        homeView.getActivitiesAndTasksForUser();
    }

</script>