<div id="user">
    <br>
    <div v-if="!sessionUser">
        <form>
            <input id="username" type="text" v-model="loginUser" autocomplete="username" placeholder="Enter your username">
            <input id="password" type="password" v-model="password" autocomplete="current-password" placeholder="Enter your password">
            <button v-on:click="login" class="btn btn-primary btn-sm custom-buttons">Login</button>
        </form>
        <br><br>
        <form>
            <input v-model="newUser" placeholder="Enter new username">
            <input v-model="newPassword" placeholder="Enter new password">
            <button v-on:click="registerUser" class="btn btn-primary btn-sm custom-buttons">Registrieren</button>
        </form>
    </div>
    <div v-if="sessionUser">
        <h2>Eingeloggt als <i> {{ sessionUser }} </i>      
        <button v-on:click="logout" class="btn btn-primary btn-sm">Logout</button> </h2> 
        <br><br>
        <input v-model="newGroupName" placeholder="Gruppennamen eingeben">
        <button v-on:click="createGroup" class="btn btn-outline-primary btn-sm custom-buttons">Neue Gruppe erstellen</button>
        <br><br>
        <input v-model="groupName" placeholder="Gruppennamen eingeben">
        <button v-on:click="enterGroup" class="btn btn-outline-primary btn-sm custom-buttons">Gruppe beitreten</button>
        <br><br>

        <select v-model="selectedGroup" @change="selectGroup">
            <option v-for="group in groups" v-bind:value="group">
                {{ group }}
            </option>
        </select>
        <div>
        <br>
        <button v-if="selectedGroup" v-on:click="exitGroup">Aus aktueller Gruppe austreten</button>
        </div>

    </div>

</div>


<script>

    var userView = new Vue({
        el: '#user',
        data: {
            sessionUser: navbar.sessionUser,
            newUser: '',
            newPassword: '',
            loginUser: '',
            password: '',
            newGroup: '',
            groupName: '',
            newGroupName: '',
            selectedGroup: navbar.selectedGroup,
            groups: []
        },
        methods: {
            registerUser: function () {
                var newUser = userView.newUser;
                var newPassword = userView.newPassword;

                if(newUser != '' && newPassword != '') {
                    console.log(newUser);
                    $.post("/api/user", {username: newUser, password: newPassword}, function(result){
                        notify("saved: " + result);
                    });
                }
            },
            login: function () {
                var loginUser = userView.loginUser;
                var password = userView.password;

                if(loginUser != '' && password != '') {
                    console.log(loginUser);
                    $.post("/api/login", {username: loginUser, password: password}, function(result){
                        if(result == "OK") {
                            userView.sessionUser = loginUser;
                            navbar.sessionUser = loginUser;
                            indexSite.sessionUser = loginUser;
                            userView.getGroupsOfSessionUser();
                        } else {
                            notify("Login fehlgeschlagen: " + result);
                        }
                    });
                }
            },
            logout: function() {
                userView.sessionUser = '';
                navbar.sessionUser = '';
                indexSite.sessionUser = '';
                userView.selectedGroup = '';
                navbar.selectedGroup = '';
                $.post("/api/logout", {}, function(result){
                });
            },
            createGroup: function() {
                var newGroup = userView.newGroupName;

                if(newGroup != '') {
                    console.log(newGroup);
                    $.post("/api/createGroup", {groupName: newGroup}, function(result){
                        notify("CreateGroup: " + result);
                    });
                }
            },
            enterGroup: function() {
                var existingGroup = userView.groupName;

                if(existingGroup != '') {
                    console.log(existingGroup);
                    $.post("/api/enterGroup", {groupName: existingGroup}, function(result){
                        notify("EnterGroup: " + result);
                    });
                }
            },
            exitGroup: function() {
                $.post("/api/exitGroup", {}, function(result){
                    notify("ExitGroup: " + result);
                });
                navbar.selectedGroup = "";
                userView.selectedGroup = "";
            },
            getGroupsOfSessionUser: function() {
                $.post("/api/getGroupsOfUser", {}, function(result){
                    userView.groups = result;
                });
            },
            selectGroup: function() {
                $.post("/api/selectGroup", {selectedGroup: userView.selectedGroup}, function(result){
                    navbar.selectedGroup = userView.selectedGroup;
                    indexSite.loadMessages();
                    // if successful:
                    leaveSocket();
                    joinSocket(userView.selectedGroup);
                });
            }

        }
    })

    if(navbar.sessionUser != null && navbar.sessionUser != '') {
        userView.getGroupsOfSessionUser();
    }

</script>