<div id="user">
    <br>
    <div v-if="!sessionUser">
        <form>
            <input id="email" type="email" v-model="newEmail" placeholder="E-Mail Adresse eingeben" class="responsive-input"><br>
            <input v-model="newUser" placeholder="Username eingeben" class="responsive-input"><br>
            <input v-model="newPassword" placeholder="Passwort eingeben" class="responsive-input"><br>
            <button v-on:click="registerUser" class="btn btn-primary btn-sm custom-buttons">Registrieren</button>
        </form>
    </div>
    <div v-if="sessionUser">
        <h2>Eingeloggt als <i> {{ sessionUser }} </i> </h2> 
        <br><br>
        <input v-model="newGroupName" class="responsive-input" placeholder="Gruppennamen eingeben">
        <button v-on:click="createGroup" class="btn btn-outline-primary btn-sm custom-buttons responsive-button">Neue Gruppe erstellen</button>
        <br><br>
        <input v-model="groupName" class="responsive-input" placeholder="Gruppennamen eingeben">
        <button v-on:click="enterGroup" class="btn btn-outline-primary btn-sm custom-buttons responsive-button">Gruppe beitreten</button>
        <br><br>

        <select v-model="selectedGroup" @change="selectGroup">
            <option v-for="group in groups" v-bind:value="group">
                {{ group.title }}
            </option>
        </select>
        <div>
        <br>
        <button v-if="selectedGroup && selectedGroup.title != ''" v-on:click="exitGroup" class="btn btn-primary btn-sm custom-buttons">Aus aktueller Gruppe '{{selectedGroup.title}}' austreten</button>
        </div>
        <div v-if="messages" id="userMessages">
            <br><br>
            <div v-for="message in messages" v-bind:value="message">
                <div v-if="message.messageType === 'MEMBER_NEW'">
                    {{ message.content }} möchte der Gruppe {{ message.groupName}} beitreten. 
                    <button v-on:click="acceptUser(message)" class="btn btn-outline-primary btn-sm custom-buttons"><span class="glyphicon">&#x2713;</span></button>
                    <button v-on:click="refuseUser(message)" class="btn btn-outline-primary btn-sm custom-buttons"><span class="glyphicon">&#x2613;</span></button>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>


<script>

    var userView = new Vue({
        el: '#user',
        data: {
            sessionUser: navbar.sessionUser,
            newUser: '',
            newPassword: '',
            newEmail: '',
            newGroup: '',
            groupName: '',
            newGroupName: '',
            selectedGroup: navbar.selectedGroup,
            groups: [],
            messages: ''
        },
        methods: {
            registerUser: function () {
                var newEmail = userView.newEmail.trim();
                var newUser = userView.newUser.trim();
                var newPassword = userView.newPassword.trim();

                if(newEmail != '' && newUser != '' && newPassword != '' && document.getElementById("email").checkValidity()) {
                    console.log(newUser);
                    $.post("/api/user", {email: newEmail, username: newUser, password: newPassword}, function(result){
                        notify("saved: " + result);
                    });
                }
            },
            createGroup: function() {
                var newGroup = userView.newGroupName.trim();
                if(newGroup != '') {
                    $.post("/api/createGroup", {groupName: newGroup}, function(result){
                        userView.getGroupsOfSessionUser();
                        notify("CreateGroup: " + result);
                    });
                }
            },
            enterGroup: function() { // actually just send a message to admin of group
                var existingGroup = userView.groupName.trim();

                if(existingGroup != '') {
                    $.post("/api/enterGroup", {groupName: existingGroup}, function(result){
                        if(result.userId != null) {
                            notify("EnterGroup: " + result.resultMessage);
                            notifyUserAboutUserMessage(result.userId);
                        } else {
                            notify("EnterGroup: " + result);
                        } 
                        
                    });
                }
            },
            exitGroup: function() {
                $.post("/api/exitGroup", {}, function(result){
                    notify("ExitGroup: " + result);
                });
                navbar.selectedGroup = "";
                userView.selectedGroup = "";
            },
            getGroupsOfSessionUser: function() {
                $.post("/api/getGroupsOfUser", {}, function(result){
                    userView.groups = [{title: "", status: 0}];
                    userView.groups.push.apply(userView.groups, result);
                });
            },
            selectGroup: function() {
                $.post("/api/selectGroup", {selectedGroup: userView.selectedGroup}, function(result){
                    navbar.selectedGroup = userView.selectedGroup;
                    navbar.selectedEvent = null;
                    if(userView.selectedGroup.title != '') {
                        indexSite.loadMessages();
                        // if successful:
                        leaveSocket();
                        joinSocket(userView.selectedGroup.title, "group");
                    } else {
                        leaveSocket();
                    }
                });
            },
            getUserMessages: function() {
                $.post("/api/getUserMessages", {}, function(result){
                    if(result[0] != null) {
                        userView.messages = result;
                    } else {
                        userView.messages = '';
                    }
                });
            },
            acceptUser: function(message) {
                // accept user and update group status of accepted user
                // delete user message of sessionUser
                $.post("/api/acceptUser", {user: message.content, groupName: message.groupName, messageId: message._id}, function(result){
                    userView.getUserMessages();
                    notify(result);
                });
                
            },
            refuseUser: function(message) {
                // refuse user and delete group in declined user
                // delete user message of sessionUser
                $.post("/api/refuseUser", {user: message.content, groupName: message.groupName, messageId: message._id}, function(result){
                    userView.getUserMessages();
                    notify(result);
                });
            }
        }
    })

    if(navbar.sessionUser != null && navbar.sessionUser != '') {
        userView.getGroupsOfSessionUser();
        userView.getUserMessages();
    }

</script>